body {
  text-align: center;
  background-color: #283149;
  
}

h1 {
  font-size: 64px;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 2px 0 #DA0463;
}

h2 {
  font-size: 32px;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 2px 0 #DA0463;
}

.classes {
  margin-left: -50%;
  font-size: 26px;
  color: #DA0464;
  font-family: "Arvo", cursive;
  text-shadow: 2px 0 0
}

.brag {
  text-align: left;
  margin-right: 65%;
  font-size: 20px;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
}

p {
  font-size: 20px;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
}

.logo {
  image-orientation: auto;
  width: 15%

}
